@use 'breakpoints';
@use 'colors';

$block-width: 1200px;
$block-inner-width: 1000px;

.block {
    position: relative;
    padding: 4rem 2.5rem;
    width: 100%;

    @media(min-width: breakpoints.$mobile) {
        padding: 6rem 4.5rem;
    }

    @media(min-width: breakpoints.$tablet) {
        padding: 8rem 10rem;
    }

    @media(min-width: $block-width) {
        max-width: $block-width;
    }
}

.block__inner {
    max-width: $block-inner-width;
    width: 100%;
}

.block--blue {
    background-color: colors.$background-color;
}

.block--rounded {
    @media (min-width: $block-width) {
        border-radius: 6rem;
    }
}
