@use 'breakpoints';

.image__phone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-100%) translateX(-50%);
    height: 350px;

    @media(min-width: breakpoints.$tablet) {
        transform: translateY(-50%) translateX(-55%) scale(0.8);
        height: 900px;
    }
}
